@import "tailwindcss";
.container {
  max-width: 1520px;
  margin: 0 auto;
  padding-inline: 20px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 80px 0;
  }
}

@media screen and (max-width: 1024px) {
  section {
    padding: 100px 0;
  }
}

footer {
  padding: 140px 0;
}

.defoult_btn {
  padding: 20px 40px;
  background-color: #4f9cf9;
  color: white;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
  border-radius: 8px;
}

.yellow_btn {
  padding: 20px 40px;
  background-color: #ffe492;
  color: #043873;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
  border-radius: 8px;
}

.blue {
  color: #4f9cf9;
}

.white_btn {
  padding: 20px 40px;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -2%;
  border-radius: 8px;
}

.color {
  background-color: #043873;
}

.bg_color {
  background-color: #4f9cf9;
}

h2 {
  letter-spacing: -2%;
}
